// font family
$font-family-montserrat:'Montserrat', sans-serif;
$font-family-poppins:'Poppins', sans-serif;
$font-family-pt-serif:'PT Serif', serif;

//Small devices (landscape phones, 576px and up)
$layout-breakpoint-small: 576px;
