// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap");

// utilities
@import "variables";
@import "mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	width: 90%;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
	overflow-y: scroll;
	&::-webkit-scrollbar{
		display: none;
	}
	header {
		width: 100%;
		margin-block-start: 2rem;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		@include custom-breakpoint {
			flex-direction: row;
		}
		h1 {
			@include format-text($font-family-pt-serif, 36px, 700, normal, 47.7px);
		}
		.content {
			width: 90%;
			@include custom-breakpoint {
				width: 20%;
			}
			h2 {
				@include format-text($font-family-poppins, 18px, 600, normal, 27px);
			}
			p {
				@include format-text($font-family-poppins, 14px, 400, normal, 21px);
			}
		}
	}
  main{
    section{
			margin: 1rem auto;
      display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(3, 1fr);
			.right-column {
				margin-top: 3rem;
			}
			article{
				height: 15rem;
				margin-inline-end: 1.3rem;
				.user-role{
					position: relative;
					top: -73%;
					right: -80%;
					display: flex;
					justify-content: flex-end;
					width: 50%;
					transform: rotate(270deg);
					@include format-text($font-family-pt-serif, 10px, 400, normal, 13.25px);
				}
				img{
					width: 100%;
				}
				h5{
					@include format-text($font-family-poppins, 14px, 600, normal, 21px);
				}
		  }
			@include custom-breakpoint {
				width: 65%;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows: repeat(3, 1fr);
				.center-column {
					margin-top: 3rem;
				}
				.left-column{
					margin-left: 0.5rem;
				}
				.custom-position{
					position: relative;
					top: 10%;
				}
				article{
					height: 25rem;
					.user-role{
						top: -77%;
						right: -78%;
					}
				}
			}
    }
  }
  footer{
    p{
			margin: 2rem 0rem 1rem 0rem;
      text-align: center;
      color: #A9A9A9;
      @include format-text($font-family-montserrat, 14px, 500, normal, 17.07px);
			a{
				@extend p;
				text-decoration: none;
				&:hover{
					color: #acecee;
				}
			}
    }
  }
}
